body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 30px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.section {
    margin-top: 30px;
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-content {
    margin-left: 20px;
}

.profile-image {
    width: 200px; /* Adjust the width and height as needed */
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the entire circle */
}

.nimage {
    display: flex; /* Use flexbox to arrange items horizontally */
    align-items: center; /* Vertically align items to the center */
}
